h1 {
    text-align: center;
    font-size: 100px;
}

p {
    text-align: center;
    font-size: 25px;
    background-color: rgb(124, 218, 186);
}

body {
    background-color: rgb(193, 221, 186);
}

td {
    vertical-align: middle;
}

.tableID {
    background-color: brown;
}

.rowImg {
    height: auto;
    max-width: 80px;
}

.dropDownC{
    margin-left: 20px;
}

/* with the help of AI */
.dropdown-menu {
    width: 500px; 

}