h1 {
    color: blue;
}

.rowImg {
    height: auto;
    max-width: 80px;
}

td {
    vertical-align: middle;
}

container {
    background-color: aqua;
}

.dropDownC{
    margin-left: 20px;
}

/* with the help of AI */
.dropdown-menu {
    width: 500px; 

}